@model IEnumerable<AlmacenEbenEzer.Models.Sucursal_Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sucursal-Producto</h2>

<p>
    @Html.ActionLink("Agregar producto a sucursal", "Create") |
    @Html.ActionLink("Transferir unidades", "Transfer")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDSucursal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDSucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.ActionLink("Actualizar stock", "Edit", new { id = item.IDSucursal })
            </td>
        </tr>
    }

</table>




